/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Input css */
.custom-input{
  border-radius: 0 !important;
}

.custom-input-seeker{
  height: 60px;
  border: solid 1px #aaa !important;
}

/* List css */
.custom-list-group-item{
  border: none !important;
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color) !important;
}

/* Button css */
.custom-btn-primary{
  border-radius: 0 !important;
  background: #cb0017 !important;
  border-color: #cb0017 !important; 
}

.custom-btn-secondary{
  border-radius: 0 !important;
  background: #aaa !important;
  border-color: #aaa !important;
}

.custom-btn-success{
  border-radius: 0 !important;
}

.custom-btn-seeker{
  height: 100%;
  border-radius: 0 !important;
  border: solid 1px #aaa !important;
}

/* Card css */

.custom-card{
  border-radius: 0 !important;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200px;
}

.custom-urjc-image{
  background-image: url("./images/logo_urjc_nowords.png");
}

.custom-uc3m-image{
  background-image: url("./images/uc3m_logo.png");
}

.custom-uah-image{
  background-image: url("./images/uah_logo.png");
}

.custom-card-title-text{
  font-size: 14px;
  font-weight: bold;
}

.custom-card-text{
  white-space: pre;
  margin-left: 20px;
}

/* Modal css */
.custom-modal-content{
  border-radius: 0 !important;
}

/* Nav css */
.custom-navbar{
  border-top: solid 5px #cb0017;
  border-bottom: solid 5px #cb0017;
}

.custom-nav-link{
  border-bottom: 2px solid #cb0017;
  font-weight: bold !important;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 150px;
}

/* Footer css */
.custom-footer{
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: solid 5px #cb0017;
  z-index: 99;
  overflow: hidden;
  background-color: white;
}

/* Dropdown css */
.custom-dropdown{
  border-radius: 0 !important;
}

/* img css*/
.custom-tutorial-img{
  width: 30%;
  position: relative;
  left: calc(50% - 185px);
}

.custom-seeker-image-row{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 116px;
  left: 12px;
  background-image: url("./images/seeker_bc.png");
  background-repeat: no-repeat;
  background-size: cover;
}
